<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sign In</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

  </head>
	<body>
  <main role="main" class="container">
    <form th:action="@{/signin/facebook}" method="POST">
			<button type="submit" class="btn btn-primary">Sign in with Facebook</button>
			<input type="hidden" name="scope" value="user_posts" />
		</form>
  </main>
	</body>
</html>
